// shared
:root {
  --mainColor: #1e202b;
  --secondaryColor: #1e233b;
  --thirdColor: #0d0f1f;
  --fourthColor: #675cff;
  --fourthColor50: #675cff80;
  --blackColor: #000;
  --whiteColor: #fff;
}
.light {
  --mainColor: #b5a695;
  --secondaryColor: #a89078;
  --thirdColor: #3f2d1c;
  --fourthColor: #ffb25c;
  --fourthColor50: #ffb25c80;
  --blackColor: #000;
  --whiteColor: #fff;
}
::selection {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fourthColor);
}
::-webkit-scrollbar-track {
  background-color: var(--secondaryColor);
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}
a {
  text-decoration: none;
  color: var(--whiteColor);
}

// loader
#loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 0vh;
  transition: 1s;
  z-index: -1;
  div {
    position: absolute;
    border-radius: 50%;
    border-left-color: var(--secondaryColor) !important;
    border: 10px solid var(--thirdColor);
  }
  :nth-child(1) {
    width: 100px;
    height: 100px;
    animation: loop1 1s linear infinite;
  }
  :nth-child(2) {
    width: 120px;
    height: 120px;
    animation: loop2 1s linear infinite;
  }
  :nth-child(3) {
    width: 80px;
    height: 80px;
    background-color: var(--thirdColor);
    border: none;
    animation: loop3 1s linear alternate infinite;
  }
}
#loader.show-loading {
  opacity: 1;
  height: 30vh;
  transition: 0s;
}
@keyframes loop1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loop2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loop3 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// btn to return scroll to top
#toUp {
  position: fixed;
  bottom: 15px;
  right: 25px;
  font-size: 1.3rem;
  color: var(--fourthColor);
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
  animation: 1s infinite alternate ease-in-out toUp;
  display: none;
}
@keyframes toUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

// btn animation
.load {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem 0;
  button {
    border: 2px solid var(--fourthColor);
    color: var(--whiteColor);
    transition: 0.5s;
    &:hover {
      border: 2px solid var(--fourthColor);
    }
  }
}
#mouse-cursor-gradient-tracking {
  position: relative;
  background: transparent;
  padding: 5px 0;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  &:hover::before {
    --size: 100px;
  }
  div {
    position: relative;
  }
  &:before {
    content: "";
    --size: 0;
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
      circle closest-side,
      var(--fourthColor50),
      transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
}

// nav sec
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: 0.5s;
  background-color: var(--thirdColor);
  .navbar-collapse {
    ul {
      width: 100%;
      .searchLi {
        width: 100%;
        display: flex;
        justify-content: center;
        .search {
          width: 50%;
          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }
      .ToggleBtnLi {
        display: flex;
        justify-content: flex-end;
        @media (max-width: 991px) {
          justify-content: flex-start;
        }
      }
      li {
        display: flex;
        align-items: center;
        .search {
          position: relative;
          input {
            box-shadow: none;
            border: 2px solid var(--whiteColor);
            transition: 0.5s;
            &:focus {
              background-color: transparent;
              color: var(--whiteColor);
              &::placeholder {
                color: #ffffff80;
              }
            }
          }
          button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: var(--thirdColor);
            transition: 0.5s;
            box-shadow: none;
            outline: none;
            border: 2px solid var(--whiteColor);
            &:hover {
              background: var(--fourthColor);
            }
          }
        }
        .ToggleBtn {
          width: 75px;
          height: 30px;
          background: var(--fourthColor);
          border-radius: 25px;
          position: relative;
          transition: 0.5s;
          box-shadow: inset 5px -5px 20px -5px #363636;
          .circle {
            cursor: pointer;
            position: absolute;
            background: #ffffff;
            width: 25px;
            height: 25px;
            margin: 0 5px;
            top: 50%;
            left: 0%;
            border-radius: 50%;
            transform: translate(0, -50%);
            transition: 0.5s;
            box-shadow: inset -5px 5px 20px -5px #363636;
          }
          .light {
            left: 100%;
            transform: translate(calc(-100% - 10px), -50%);
          }
        }
      }
    }
  }
  .navbar-toggler {
    position: relative;
    border: none;
    outline: none;
    box-shadow: none;
    &[aria-expanded="true"] span:nth-child(2) {
      opacity: 0;
    }
    &[aria-expanded="true"] span:first-child,
    &[aria-expanded="true"] span:last-child {
      top: 6px;
      background-color: var(--whiteColor);
    }
    &[aria-expanded="true"] span:first-child {
      transform: rotate(45deg);
    }
    &[aria-expanded="true"] span:last-child {
      transform: rotate(-45deg);
    }
    span {
      background-color: var(--whiteColor);
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0;
      transition: all 0.3s ease;
      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        top: 6px;
      }
      &:last-child {
        top: 12px;
      }
    }
  }
}

// main page
#main {
  min-height: 50vh;
  margin-block: 2rem;
  margin: 6rem 0 2rem 0;
  @media (max-width: 991px) {
    margin: 4rem 0 0 0;
  }
  display: flex;
  align-items: center;
  .container {
    #category {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .dropdown {
        .dropdown-menu {
          margin: 0;
          padding: 10px;
          span {
            margin: 5px 0;
            width: 100%;
          }
        }
      }
      ::-webkit-scrollbar {
        width: 200px;
      }
      .badge,
      .dropdown span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--thirdColor);
        margin: 5px;
        border-radius: 5px;
        padding: 1rem;
        cursor: pointer;
        user-select: none;
        transition: 0.5s;
        &:hover,
        &.active {
          background: var(--fourthColor);
        }
      }
    }
    .all-card {
      transform: scale(0);
      position: absolute;
      transition: 1s;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          position: relative;
          transform: scale(1);
        }
      }
      .ancor {
        text-decoration: none;
        color: #fff;
        width: 100%;
        height: 100%;
      }
      .cardX {
        position: relative;
        background: var(--secondaryColor);
        box-shadow: 0 0 20px #0000004d;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover .float-div {
          overflow: auto;
          max-height: 100%;
          transform: translateY(0%);
        }
        &:hover .img .img-fluid {
          filter: saturate(1);
        }
        .img {
          height: 100%;
          background: var(--thirdColor);
          .img-fluid {
            height: 100%;
            width: 100%;
            transition: 0.5s;
            filter: saturate(0.3);
          }
        }
        .text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          p {
            margin: 0;
            background: var(--mainColor);
            padding: 2px 10px;
          }
        }
        .float-div {
          position: absolute;
          background-color: rgb(255 255 255 / 50%);
          backdrop-filter: blur(20px);
          color: var(--blackColor);
          text-align: center;
          padding: 10px;
          bottom: 0;
          transition: 0.5s;
          width: 100%;
          transform: translateY(100%);
          h5 {
            padding: 15px 0;
          }
        }
      }
    }
  }
}

// movie page
#movie {
  #main {
    margin: 8rem 0 2rem 0;
    .container {
      #main-div {
        border-radius: 15px;
        background-color: var(--secondaryColor);
        backdrop-filter: blur(10px);
        padding: 1rem;
        margin: 0;
        & > * {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0;
        }
        .left {
          @media (max-width: 991px) {
            margin-bottom: 1rem;
          }
          .img {
            display: flex;
            justify-content: center;
          }
        }
        .right {
          align-items: flex-start;
          .img {
            @media (max-width: 991px) {
              display: none;
            }
          }
          & > * {
            margin-bottom: 10px;
            p {
              margin-bottom: 0;
            }
          }

          .rate-div {
            position: relative;
            display: flex;
            align-items: center;
            input {
              margin-right: 10px;
            }
            button {
              background: var(--thirdColor);
            }
          }

          .learn-more {
            user-select: none;
            margin: 20px 0;
            display: flex;
            background: transparent;
            min-width: 12rem;
            position: relative;
            border: none;
            padding: 0;
            .circle {
              transition: 0.5s;
              display: block;
              width: 50px;
              height: 45px;
              background: var(--mainColor);
              border-radius: 5px;
              .icon {
                transition: 0.5s;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: var(--blackColor);
              }
              .arrow {
                transition: 0.5s;
                left: 0.625rem;
                width: 20px;
                height: 2px;
                background: none;
                &::before {
                  content: "";
                  position: absolute;
                  top: -4px;
                  right: 0px;
                  width: 10px;
                  height: 10px;
                  border-top: 2px solid var(--whiteColor);
                  border-right: 2px solid var(--whiteColor);
                  transform: rotate(45deg);
                }
              }
            }
            .button-text {
              transition: 0.5s;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 30px;
              padding: 10px;
              margin: 1.5px 0 0 10px;
              color: var(--whiteColor);
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
            }
            &:hover .circle {
              width: 100%;
            }
            &:hover .circle .icon.arrow {
              background: var(--whiteColor);
              transform: translate(10px, 0);
            }
            &:hover .button-text {
              color: var(--whiteColor);
            }
          }
        }
      }
    }
  }
  #similar {
    margin-block: 2rem;
    .swiper-slide {
      display: flex;
      height: auto;
      width: 100%;
      .all-card {
        width: 100%;
      }
    }
  }
}

// footer sec
footer {
  background-color: var(--thirdColor);
  padding: 10px;
  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .icon {
      background-color: var(--mainColor);
      width: 40px;
      height: 40px;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      transition: 0.5s;
      &:hover {
        background-color: var(--secondaryColor);
      }
    }
  }
}
