:root {
  --mainColor: #1e202b;
  --secondaryColor: #1e233b;
  --thirdColor: #0d0f1f;
  --fourthColor: #675cff;
  --blackColor: #000;
  --whiteColor: #fff;
}

.light {
  --mainColor: #b5a695;
  --secondaryColor: #a89078;
  --thirdColor: #3f2d1c;
  --fourthColor: #ffb25c;
  --blackColor: #000;
  --whiteColor: #fff;
}

::-moz-selection {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

::selection {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fourthColor);
}

::-webkit-scrollbar-track {
  background-color: var(--secondaryColor);
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

a {
  text-decoration: none;
  color: var(--whiteColor);
}

#toUp {
  position: fixed;
  bottom: 15px;
  right: 25px;
  font-size: 1.3rem;
  color: var(--fourthColor);
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
  animation: 1s infinite alternate ease-in-out toUp;
  display: none;
}

@keyframes toUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.navbar {
  transition: 0.5s;
  background-color: var(--secondaryColor);
}
.navbar .navbar-collapse ul {
  width: 100%;
}
.navbar .navbar-collapse ul .searchLi {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .navbar-collapse ul .searchLi .search {
  width: 50%;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse ul .searchLi .search {
    width: 100%;
  }
}
.navbar .navbar-collapse ul .ToggleBtnLi {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse ul .ToggleBtnLi {
    justify-content: flex-start;
  }
}
.navbar .navbar-collapse ul li {
  display: flex;
  align-items: center;
}
.navbar .navbar-collapse ul li .search {
  position: relative;
}
.navbar .navbar-collapse ul li .search input {
  box-shadow: none;
  border: 2px solid var(--whiteColor);
  transition: 0.5s;
}
.navbar .navbar-collapse ul li .search input:focus {
  background-color: transparent;
  color: var(--whiteColor);
}
.navbar .navbar-collapse ul li .search input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar .navbar-collapse ul li .search input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.navbar .navbar-collapse ul li .search button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--secondaryColor);
  transition: 0.5s;
  box-shadow: none;
  outline: none;
  border: 2px solid var(--whiteColor);
}
.navbar .navbar-collapse ul li .search button:hover {
  background: var(--mainColor);
}
.navbar .navbar-collapse ul li .ToggleBtn {
  width: 75px;
  height: 30px;
  background: var(--fourthColor);
  border-radius: 25px;
  position: relative;
  transition: 0.5s;
  box-shadow: inset 5px -5px 20px -5px #363636;
}
.navbar .navbar-collapse ul li .ToggleBtn .circle {
  cursor: pointer;
  position: absolute;
  background: #ffffff;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  top: 50%;
  left: 0%;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: 0.5s;
  box-shadow: inset -5px 5px 20px -5px #363636;
}
.navbar .navbar-collapse ul li .ToggleBtn .light {
  left: 100%;
  transform: translate(calc(-100% - 10px), -50%);
}
.navbar .navbar-toggler {
  position: relative;
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-toggler[aria-expanded=true] span:first-child, .navbar .navbar-toggler[aria-expanded=true] span:last-child {
  top: 6px;
  background-color: var(--whiteColor);
}
.navbar .navbar-toggler[aria-expanded=true] span:first-child {
  transform: rotate(45deg);
}
.navbar .navbar-toggler[aria-expanded=true] span:last-child {
  transform: rotate(-45deg);
}
.navbar .navbar-toggler span {
  background-color: var(--whiteColor);
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler span:first-child {
  top: 0;
}
.navbar .navbar-toggler span:nth-child(2) {
  top: 6px;
}
.navbar .navbar-toggler span:last-child {
  top: 12px;
}

#main {
  min-height: 50vh;
  margin-block: 2rem;
  display: flex;
  align-items: center;
}
#main .container #category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#main .container #category .dropdown .dropdown-menu {
  margin: 0;
  padding: 10px;
}
#main .container #category .dropdown .dropdown-menu span {
  margin: 5px 0;
  width: 100%;
}
#main .container #category ::-webkit-scrollbar {
  width: 200px;
}
#main .container #category .badge,
#main .container #category .dropdown span {
  background: var(--secondaryColor);
  margin: 5px;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.5s;
}
#main .container #category .badge:hover, #main .container #category .badge.active,
#main .container #category .dropdown span:hover,
#main .container #category .dropdown span.active {
  background: var(--fourthColor);
}

.all-card .ancor {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}
.all-card .cardX {
  position: relative;
  background: var(--secondaryColor);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3019607843);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.all-card .cardX:hover .float-div {
  overflow: auto;
  max-height: 100%;
  transform: translateY(0%);
}
.all-card .cardX:hover .img .img-fluid {
  filter: saturate(1);
}
.all-card .cardX .img {
  height: 100%;
  background: var(--thirdColor);
}
.all-card .cardX .img .img-fluid {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  filter: saturate(0.3);
}
.all-card .cardX .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.all-card .cardX .text p {
  margin: 0;
  background: var(--mainColor);
  padding: 2px 10px;
}
.all-card .cardX .float-div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: var(--blackColor);
  text-align: center;
  padding: 10px;
  bottom: 0;
  transition: 0.5s;
  width: 100%;
  transform: translateY(100%);
}
.all-card .cardX .float-div h5 {
  padding: 15px 0;
}

#loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 0vh;
  transition: 1s;
  z-index: -1;
}
#loader div {
  position: absolute;
  border-radius: 50%;
  border-left-color: var(--secondaryColor) !important;
  border: 10px solid var(--thirdColor);
}
#loader :nth-child(1) {
  width: 100px;
  height: 100px;
  animation: loop1 1s linear infinite;
}
#loader :nth-child(2) {
  width: 120px;
  height: 120px;
  animation: loop2 1s linear infinite;
}
#loader :nth-child(3) {
  width: 80px;
  height: 80px;
  background-color: var(--thirdColor);
  border: none;
  animation: loop3 1s linear alternate infinite;
}

#loader.show-loading {
  opacity: 1;
  height: 30vh;
  transition: 0s;
}

@keyframes loop1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loop2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loop3 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#movie #main .container #main-div {
  border-radius: 15px;
  background-color: var(--secondaryColor);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  margin: 0;
}
#movie #main .container #main-div > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media (max-width: 991px) {
  #movie #main .container #main-div .left {
    margin-bottom: 1rem;
  }
}
#movie #main .container #main-div .left .img {
  display: flex;
  justify-content: center;
}
#movie #main .container #main-div .right {
  align-items: flex-start;
}
@media (max-width: 991px) {
  #movie #main .container #main-div .right .img {
    display: none;
  }
}
#movie #main .container #main-div .right > * {
  margin-bottom: 10px;
}
#movie #main .container #main-div .right > * p {
  margin-bottom: 0;
}
#movie #main .container #main-div .right .rate-div {
  position: relative;
  display: flex;
  align-items: center;
}
#movie #main .container #main-div .right .rate-div input {
  margin-right: 10px;
}
#movie #main .container #main-div .right .rate-div button {
  background: var(--thirdColor);
}
#movie #main .container #main-div .right .learn-more {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 20px 0;
  display: flex;
  background: transparent;
  min-width: 12rem;
  position: relative;
  border: none;
  padding: 0;
}
#movie #main .container #main-div .right .learn-more .circle {
  transition: 0.5s;
  display: block;
  width: 50px;
  height: 45px;
  background: var(--mainColor);
  border-radius: 5px;
}
#movie #main .container #main-div .right .learn-more .circle .icon {
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--blackColor);
}
#movie #main .container #main-div .right .learn-more .circle .arrow {
  transition: 0.5s;
  left: 0.625rem;
  width: 20px;
  height: 2px;
  background: none;
}
#movie #main .container #main-div .right .learn-more .circle .arrow::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--whiteColor);
  border-right: 2px solid var(--whiteColor);
  transform: rotate(45deg);
}
#movie #main .container #main-div .right .learn-more .button-text {
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30px;
  padding: 10px;
  margin: 1.5px 0 0 10px;
  color: var(--whiteColor);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#movie #main .container #main-div .right .learn-more:hover .circle {
  width: 100%;
}
#movie #main .container #main-div .right .learn-more:hover .circle .icon.arrow {
  background: var(--whiteColor);
  transform: translate(10px, 0);
}
#movie #main .container #main-div .right .learn-more:hover .button-text {
  color: var(--whiteColor);
}
#movie #similar {
  margin-block: 2rem;
}
#movie #similar .swiper-slide {
  display: flex;
  height: auto;
  width: 100%;
}
#movie #similar .swiper-slide .all-card {
  width: 100%;
}

footer {
  background-color: var(--thirdColor);
  padding: 10px;
}
footer .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
footer .icons .icon {
  background-color: var(--mainColor);
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}
footer .icons .icon:hover {
  background-color: var(--secondaryColor);
}/*# sourceMappingURL=main.css.map */